<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target xsi:type="File"
          name="errorTarget"
          encoding="utf-8"
          archiveEvery="Day"
          fileName="${basedir}\Logs\err.log"
          archiveNumbering="Date"/>
    <target xsi:type="File"
          name="debugTarget"
          encoding="utf-8"
          archiveEvery="Day"
          fileName="${basedir}\Logs\debug.log"
          archiveNumbering="Date"/>
    <target xsi:type="File"
          name="infoTarget"
          encoding="utf-8"
          archiveEvery="Day"
          fileName="${basedir}\Logs\info.log"
          archiveNumbering="Date"/>
    <target xsi:type="File"
          name="perfTarget"
          encoding="utf-8"
          archiveEvery="Day"
          fileName="${basedir}\Logs\perf.log"
          archiveNumbering="Date"/>
  </targets>
  <rules>
    <logger name="Performance" writeTo="perfTarget" final="true"/>
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorTarget" />
    <logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="debugTarget" />
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="infoTarget" />
  </rules>
</nlog>